# .env.example - Şablon Çevre Değişkenleri Dosyası

# LCW Tedarikçi Portalı Kimlik Bilgileri
LCW_USERNAME=""
LCW_PASSWORD=""

# Portall ve API URL Ayarları
LCW_LOGIN_URL="https://supplierportal.lcwaikiki.com/home"
LCW_TOKEN_API_ENDPOINT_PART="/sts/issue/oidc/"
LCW_USERNAME_SELECTOR="#UserName"
LCW_PASSWORD_SELECTOR="#loginFieldPassword"
LCW_LOGIN_BUTTON_SELECTOR="#loginBtn"

# XIR Ayarları
XIR_URL="https://tr.xir.lcwaikiki.com/"
XIR_USERNAME=""
XIR_PASSWORD=""

# SAP Bağlantı Bilgileri
SAP_LOGON_PATH="C:\\Program Files (x86)\\SAP\\FrontEnd\\SAPgui\\saplogon.exe"
SAP_SYSTEM_NAME="S4P Canlı Sistem"
SAP_CLIENT="100"
SAP_LANGUAGE="TR"

# SAP Kimlik Bilgileri
SAP_USERNAME=""
SAP_PASSWORD=""

# Fiori URL
FIORI_URL="https://hecfioriprd.tahagiyim.com/sap/bc/ui2/flp?sap-client=100&sap-language=TR#Action-SD001"
